.slider{
  width: fit-content;
}

.cutoff-slider{
  width: 7rem;
}

.pitch-slider{
  width: 6rem;
}

input[type="range"]{
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 10px;
  background-color: indianred;
  border-radius: 5px;
}

.select {
  appearance: none; /* ① */
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none ; /* ② ここから */
  border-color: white;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer; /* ② ここまで */
}

.container {
  display: block;
  border-color: black;
  background-color: wheat;
  padding: 15px;
  border-radius: 20px;
  width: 38svw;
  max-width: 260px;
  height: fit-content;
}

.larger-container {
  display: block;
  background-color: antiquewhite;
  padding: 15px;
  border-radius: 20px;
  width: 90svw;
  max-width: 600px;
  overflow-x: hidden;
}

@media (max-width: 760px) {
  .container {
    display: block;
    border-color: black;
    background-color: wheat;
    padding: 15px;
    border-radius: 20px;
    width: 35svw;
    height: fit-content;
  }
  
  .larger-container {
    display: block;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 20px;
    width: 85svw;
    overflow-x: hidden;
  }
}