
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
  --html-bg-color: rgb(245, 245, 255);
  --bg-color: rgb(245, 245, 255);
  --tile-bg-color: rgb(230,230,230);
  --ui-bg-color: white;
  --text-color: black;
  --text-color-a: blue;
  --text-bg-color: white;
  --text-bg-color-a: white;
  --alpha-zero: rgba(0,0,0,0);
  --box-radius: 10px;
  --content-radius: 0px;
}

code{
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  list-style: 110%;
}

html{
  font-size: 16px;
  background-color: var(--html-bg-color);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

img{
  width: 80svw;
  height: auto;
  max-width: 800px;
}

.border{
  width: 2000px;
  height: 2px;
  background-color: black;
  margin: 20px 0px;
}

.nav-center {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

a:hover{
  color: white;
  display: inline;
  background-color: blue;
}

a {
  font-size: 1rem;
  color: var(--text-color-a);
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

h1{
  font-size: 1.8rem;
  line-height: 100%;
}

h3 {
  font-size: 1.5rem;
  line-height: 100%;
}

.bottom{
  display: block;
  padding-top: 20px;
}
.ui-box {
  display: block;
  background-color: var(--ui-bg-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: var(--box-radius);
}

iframe{
  max-width: 80svw; 
}

.box {
  display: inline-block;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: var(--box-radius);
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 700px;
}

.content-box {
  display: block;
  background-color: var(--bg-color);
  padding: 20px;
  max-width: 700px;
  margin: 0 0px;
  overflow-x: hidden;
  word-break: break-all;
  min-width: 50%;
  border-radius: var(--content-radius);
}

.content-box h1{
  font-size: 1.8rem;
}

.content-box h2 > a{
  font-size: 1.5rem;
}

.content-box h3{
  font-size: 1.2rem;
}

.article > p, li , ul {
  line-height: 1.75rem;
}

th, td {
  border: solid 1px;  /* 枠線指定 */
  padding: 10px;      /* 余白指定 */
}

table {
  border-collapse:  collapse; /* セルの線を重ねる */
}

.page{
  width: 100svw;
  height: 100svh;
  position: absolute;
  display: block;
  left: 0%;
  top: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center-hori{
  justify-items: center;
}

.center-vert {
  align-content: center;
}

h1,
h2,
h3,
p,
li {
  color: var(--text-color);
}

.menu{
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
}

@media (max-width: 760px) {
  html{
    font-size: 16px;
    background-color: var(--html-bg-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
  }

  .ui-box {
    display: inline-block;
    background-color: var(--ui-bg-color);
    border-radius: var(--box-radius);
  }

  .content-box {
    display: block;
    background-color: var(--bg-color);
    margin: 0px 0px;
    padding: 20px;
    overflow-x: hidden;
    min-width: 80%;
  }

  .menu{
    position: fixed;
    top: 5%;
    right: 0%;
    margin-right: 10px;
    z-index: 1;
  }
}